<% if @movies.present? %>
<h1><%= @city.name %></h1>
<h2><%= @date %></h2>
<ul>
	<% @movies.each do |movie| %>
		<li>
			<%=movie.name%><br>
			<a href="/home/get_detail/<%=movie.movie_web_id%>/<%=movie.city_web_id%>">Get Detail</a>
			<br>
		</li>
	<% end %>
</ul>
<% else %>
<strong>No Movies at this date!</strong>
<% end %>
<%= link_to "back", home_index_path %>