<a href="/home/update_cities">Update Cities Data</a><br>
<% today = Date.today 
	@days_from_this_week = (today.at_beginning_of_week..today.at_end_of_week).map
%>
<%= form_tag(home_fetch_movies_path, method: "post") do %>
	<%= select(:city, :name, City.all.collect {|b| [b.name, b.city_web_id]}) %>
	<%= select_tag :date, options_for_select(@days_from_this_week) %>	
	<%= submit_tag "Get Movies" %>
<% end %>